/* index/home */

/* sticky positioning */

.bg {
position: sticky;
top: -230px;
left: 0;
width: 100vw;
overflow: hidden;
}

.bg img {
  position: sticky;
  width: 100%;
  left: 0;
}

div.stage {
  display: inline-block;
  position: sticky;
  top: 8vh;
  left: 18vw;
  float: left;
  width: 42%;
  margin-top: -300px;
}

img.stages {
  overflow: visible;
  width: 100%;
}

/* end of sticky positioning */
h2 {
  font-family: monarcha, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 24pt;
}

p {
  font-family: monarcha, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
  display: block;
}

div.text {
  width: 30%;
  margin-left: 60%;
  position: absolute;
}

.slide {
  width: 100vw;
  height: 100vh;
}

section {
  width: 100vw;
}

@media only screen and (max-width: 768px) {
  .bg {
    position: sticky;
    top: -80px;
    left: 0;
    overflow: hidden;
  }
  div.bg {
    height: 70vh;
    width: 100vw;
  }
  .bg img {
    position: sticky;
    width: 100%;
    object-fit: cover;
  }
  div.text {
    z-index: -1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
  }
  div.stage {
    top: 10vh;
    left: 18vw;
    width: 40%;
  }
}

@media only screen and (max-width: 480px) {
  div.text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
  }

  div.stage {
    position: absolute;
    top: 8vh;
    left: 18vw;
    width: 70%;
  }
}

/* navbar*/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding-top: 14px;
  padding-right: 10vw;
  padding-left: 10px;
  text-decoration: none;
  font-family: monarcha, serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
  position: relative;
}

a.links {
  padding: 35px 16px;
  position: relative;
}

li a:hover {
  color: #ff9100;
}

.right {
  float: right;
}


/* end of navbar */

/* demo page */

.demo {
  position: relative;
  top: 0vh;
  left: 0;
}

.net1 {
  position: relative;
  top: 23vh;
  left: 20vw;
}

.net2 {
  position: absolute;
  top: 23vh;
  left: 20vw;
}

.butterflies {
  position: absolute;
  top: 22vh;
  left: 20vw;
  opacity: 0%;
}

.cocoons {
  position: absolute;
  top: 22vh;
  left: 20vw;
  opacity: 0%;
}

.caterpillars {
  position: absolute;
  top: 22vh;
  left: 20vw;
  opacity: 0%;
}

.eggs {
  position: absolute;
  top: 22vh;
  left: 20vw;
  opacity: 0%;
}

.butterfly-button {
  position: absolute;
  top: 90vh;
  left: 48vw;
  padding-bottom: 10vh;
}

.butterfly-button:hover {
  cursor: pointer;
}

.cocoon-button {
  position: absolute;
  top: 70vh;
  left: 48vw;
}

.cocoon-button:hover {
  cursor: pointer;
}

.caterpillar-button {
  position: absolute;
  top: 50vh;
  left: 48vw;
}

.caterpillar-button:hover {
  cursor: pointer;
}

.egg-button {
  position: absolute;
  top: 30vh;
  left: 48vw;
}

.egg-button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .demo {
  position: relative;
  top: 0;
  left: 0;
  }

.net1 {
  position: relative;
  top: 105px;
  left: 20vw;
  }

.net2 {
  position: absolute;
  top: 200px; 
  left: 20vw;
  }
}

/* about */

h1 {
  font-family: monarcha, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 36pt;
}

section.about {
  width: 50vw;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 200px;
}

body.about {
  background-image: url('aboutbg.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

/* end of about */

/* shop */

h3 {
  font-family: monarcha, serif;
  font-weight: 700;
  font-style: normal;
  font-size: 16pt;
}



section.kit {
  display: inline-block;
  width: 30vw;
  text-align: center;
  margin-right: 5vw;
}

section.live {
  display: inline-block;
  width: 30vw;
  text-align: center;
  margin-left: 5vw;
}

img.kit {
  width: 30vw;
  margin-top: 150px;
  margin-bottom: 50px;
}

img.live {
  width: 30vw;
  margin-top: 150px;
  margin-bottom: 50px;
}

.purchase {
  width: 71vw;
  margin: auto;
  margin-bottom: 100px;
}

@media only screen and (max-width: 768px) {
section.kit {
  display: inline;
  width: 70vw;
  text-align: center;
  margin-right: 0;
}

section.live {
  display: inline;
  width: 70vw;
  text-align: center;
  margin-left: 0;
}

img.kit {
  width: 70vw;
  margin-top: 150px;
  margin-bottom: 50px;
}

img.live {
  width: 70vw;
  margin-top: 150px;
  margin-bottom: 50px;
}
}
